.hack-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.img-container {
  position: relative;
  height: 380px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid var(--blue-blue, #03f);
  margin: 2rem 0;
}
.hack-name-tag {
  position: absolute;
  bottom: 0px;
  left: 0rem;
  right: 0px;
  padding: 1.5rem 2rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  color: var(--clr-light);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.hack-name-tag > h1 {
  font-size: var(--ft-1000);
  font-weight: 700;
}
.hack-name-tag > p {
  font-size: var(--ft-500);
  font-weight: 600;
}

.overview-container {
  margin-bottom: 2rem;
}
.overview-container > h3 {
  font-size: var(--ft-600);
  font-weight: 600;
  margin-bottom: 1rem;
}
.overview-container > p {
  font-size: var(--ft-500);
  font-weight: 400;
  margin-bottom: 1rem;
}

.contact-container {
  position: relative;
  padding-bottom: 3rem;
}
.contact-container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #03f;
  opacity: 0.2;
}

.apply-box {
  margin-top: 2rem;
  padding: 1.8rem;
  border-radius: 8px;
  border: 1px solid var(--blue-blue, #03f);
  background-color: #fff;
  text-align: center;
}

.hack-img-container {
  background-color: #000;
  height: 120px;
}
.rules-list {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rules-list > li > p {
  color: var(--neutrals-rich-black, #00061d);
  font-weight: 400;
  font-size: var(--ft-500);
}

.contact-details-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.email-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon-container {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0.722px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.details > p:nth-child(1) {
  color: #9a9aa9;
  font-size: var(--ft-350);
  font-weight: 400;
}
.details > p:nth-child(2) {
  color: var(--neutrals-rich-black, #00061d);
  font-size: var(--ft-400);
  font-weight: 600;
}
.apply-box > h3 {
  color: var(--neutrals-rich-black, #00061d);
  font-size: var(--ft-500);
  font-weight: 700;
  margin: 0.5rem 0;
}
.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.row > p {
  white-space: nowrap;
  color: #1d1d1d;
  font-size: var(--ft-400);
  font-weight: 600;
}
.row > p > span {
  color: #9a9aa9;
  font-weight: 600;
  font-size: var(--ft-400);
}

.apply-box > p {
  color: #9a9aa9;
  font-size: var(--ft-400);
  letter-spacing: 0.32px;
  font-weight: 600;
  margin: 0.5rem 0;
}
.apply-box > h6 {
  color: #1d1d1d;
  font-weight: 600;
  font-size: var(--ft-500);
  margin-bottom: 0.5rem;
}
.apply-box > a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--blue-blue, #03f);
  border-radius: 4px;
  color: var(--clr-light);
  font-weight: 600;
  font-size: var(--ft-400);
}
