.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  /* max-width: 100%; */
  /* width: var(--max-width); */
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
