.right {
  padding-top: 8rem;
}

.heading {
  color: var(--neutrals-rich-black, #00061d);

  font-size: 32px;

  font-weight: 700;
  line-height: 32px;
}

.sponsor-container {
  padding: 2rem;
  background-color: #fff;
  margin-top: 2rem;
}
.section > h3 {
  color: #242930;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
  background-color: #fff;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 0.5px solid #03f;
  padding: 18px 20px;
}
.input-field-container:nth-child(1) {
  flex: 2 1 400px;
}
.input-field-container:nth-child(2) {
  flex: 1 1 400px;
}
.input-field-container:nth-child(3) {
  flex: 1 1 1700px;
}
.input-field-container > label {
  color: #03f;
  font-size: 18px;
  font-weight: 400;
}
.input-field-container > input,
.input-field-container > textarea {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}

.img-selectors {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  margin: 4rem 4rem 4rem 0;
}
.cancel-btn {
  border-radius: 24px;
  border: 0.5px solid #03f;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 400;
  color: var(--blue-blue, #03f);
  cursor: pointer;
}
.next-btn {
  border-radius: 24px;
  border: 0.5px solid #03f;
  padding: 16px 40px;
  background-color: var(--blue-blue, #03f);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
